<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    <bean></bean>-->
<!--    //autowire="byType"自动连接-->
    <bean class="com.lyb.service.MyService">
        <property name="dao" ref="dao1"></property>
    </bean>
    <bean id="dao1" class="com.lyb.dao.MyDao"></bean>
</beans>